<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col size="1" style="display: flex; vertical-align: center">
                <img class="image" [src]="pic" />

              </ion-col>
              <ion-col size="5" style="display: flex; vertical-align: center">
                <ion-title size="small">Fez Comic</ion-title>
              </ion-col>
              <ion-col size="6">
                <div style="float: right; vertical-align: center" class="g-signin2" data-onsuccess="onSignIn"></div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-label color="medium">{{currentWelcomeMessage }}</ion-label>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item slot="end" href="#" onclick="signOut();">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
        <ion-toolbar>
          <div *ngIf="!qod">
            <div>Inspiring Quote of the day</div>
            <span style="font-style: italic; font-size: 14px;">"Los españoles muy españoles y mucho españoles"</span>
            <span style="font-size: 14px;"> - Un presidente aleatorio</span>
          </div>
          <div *ngIf="qod">
            <div>{{qod.title}}</div>
            <span style="font-style: italic; font-size: 14px;">{{qod.quote}} </span>
            <span style="font-size: 14px;"> - {{qod.author}}</span>
          </div>
        </ion-toolbar>

      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>